@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
:root {
  --form-control-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

.hide {
  display: none;
}

.show {
  display: block;
}

body {
  background-color: hsl(217deg, 100%, 97%);
}

#desktop {
  display: none;
}

#nav {
  background-image: url("../images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(217deg, 100%, 97%);
  width: 100%;
  aspect-ratio: 2/1;
  margin: auto;
  display: flex;
  justify-content: center;
}
#nav button {
  border: 2px solid hsl(0deg, 0%, 100%);
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  font-weight: bold;
  font-size: 1rem;
  margin: 40px 7px;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#nav button:hover {
  border: 2px solid hsl(206deg, 94%, 87%);
}
#nav .selected {
  border: 2px solid hsl(206deg, 94%, 87%);
  background-color: hsl(206deg, 94%, 87%);
  color: hsl(213deg, 96%, 18%);
}
#nav .page-description {
  display: none;
}

section {
  z-index: 1;
  width: 75%;
  margin: -20% auto 150px auto;
  box-shadow: 0 0 5px hsl(229deg, 24%, 87%);
  border-radius: 15px;
}
section .header {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 15px 15px 0 0;
  padding: 0 25px;
}
section .header h1 {
  color: hsl(213deg, 96%, 18%);
  padding-top: 25px;
}
section .header p {
  color: hsl(231deg, 11%, 63%);
  font-weight: 400;
  padding: 15px 0;
}
section .form {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 0 15px 15px;
  padding: 0 25px 25px 25px;
  font-size: 0.8rem;
}
section .label-pattern {
  border: 1px solid hsl(231deg, 11%, 63%);
  border-radius: 10px;
  display: flex;
  padding: 15px;
  margin-bottom: 10px;
}
section .label-pattern div {
  margin-left: 10px;
}
section .label-pattern div h4 {
  color: hsl(213deg, 96%, 18%);
  font-size: 1rem;
}
section .label-pattern div p {
  color: hsl(231deg, 11%, 63%);
  font-size: 1rem;
  padding: 5px 0;
}
section .label-pattern div h6 {
  font-weight: 400;
  color: hsl(213deg, 96%, 18%);
  font-size: 0.8rem;
}
section .label-pattern:hover {
  border: 1px solid hsl(213deg, 96%, 18%);
}
section #info {
  display: grid;
}
section #info label {
  color: hsl(213deg, 96%, 18%);
  font-weight: bold;
  padding: 15px 0 5px 0;
}
section #info input {
  padding: 10px;
  min-width: 140px;
  border-radius: 5px;
  border: 1px solid hsl(231deg, 11%, 63%);
}
section #info input:hover {
  border: 1px solid hsl(213deg, 96%, 18%);
}
section #info input:invalid {
  border-color: hsl(354deg, 84%, 57%);
  background-color: hsl(217deg, 100%, 97%);
}
section #sel-plan input[type=radio]:checked + label {
  background-color: hsl(217deg, 100%, 97%);
  border: 1px solid hsl(213deg, 96%, 18%);
}
section #sel-plan input[type=radio] {
  display: none;
}
section #sel-plan #payment-method {
  display: flex;
  justify-content: center;
  background-color: hsl(217deg, 100%, 97%);
  border-radius: 10px;
  margin-top: 25px;
  padding: 20px 0;
}
section #sel-plan #payment-method label {
  font-size: 1.2rem;
  color: hsl(231deg, 11%, 63%);
  font-weight: bold;
  padding: 0 25px;
}
section #sel-plan #payment-method #month {
  order: 2;
  border-radius: 15px 0 0 15px;
}
section #sel-plan #payment-method #year {
  order: 3;
  border-radius: 0 15px 15px 0;
}
section #sel-plan #payment-method label:last-child {
  order: 4;
}
section #sel-plan #payment-method input[type=radio]:checked + label {
  color: hsl(213deg, 96%, 18%);
  border: 0;
}
section #sel-plan #payment-method input[type=radio] {
  margin-top: 2px;
  appearance: none;
  background-color: hsl(213deg, 96%, 18%);
  width: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}
section #sel-plan #payment-method input[type=radio]::before {
  content: "";
  z-index: 1;
  background-color: hsl(0deg, 0%, 100%);
  width: 18px;
  aspect-ratio: 1/1;
  margin: 2px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
section #sel-plan #payment-method input[type=radio]:checked::before {
  transform: scale(1);
}
section .add-ons-content input {
  display: none;
}
section .add-ons-content input[type=checkbox]:checked + label {
  background-color: hsl(217deg, 100%, 97%);
  border: 1px solid hsl(213deg, 96%, 18%);
}
section .add-ons-content .label-pattern {
  justify-content: space-between;
}
section .add-ons-content .label-pattern h6 {
  font-size: 1rem;
  align-self: center;
  padding-left: 15px;
  color: hsl(243deg, 100%, 62%);
}
section #form-summary {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0 0 15px 15px;
}
section #form-summary #gray-bg {
  background-color: hsl(217deg, 100%, 97%);
  padding: 15px;
  border-radius: 15px;
}
section #form-summary div {
  font-size: 1.1rem;
  font-weight: 400;
}
section #form-summary div h6 {
  font-size-adjust: 0.8;
  font-weight: 400;
  color: hsl(213deg, 96%, 18%);
}
section #form-summary hr {
  color: hsl(229deg, 24%, 87%);
  margin: 15px 0;
}
section #form-summary #change-plan {
  font-size: 0.8rem;
  padding: 5px;
  color: hsl(231deg, 11%, 63%);
}
section #form-summary #change-plan:hover {
  color: hsl(213deg, 96%, 18%);
}
section #form-summary .add-ons-summary {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: hsl(231deg, 11%, 63%);
}
section #form-summary #plan-info {
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
}
section #form-summary #total {
  padding: 15px;
}
section #form-summary #total p {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(243deg, 100%, 62%);
}

#thanks {
  width: 75%;
  text-align: center;
}
#thanks .thanks {
  border-radius: 15px;
  padding: 50px 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer .button {
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.footer #go-back {
  margin-left: 25px;
  border: 2px solid hsl(228deg, 100%, 84%);
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(228deg, 100%, 84%);
}
.footer #go-back:hover {
  color: hsl(213deg, 96%, 18%);
  border: 2px solid hsl(213deg, 96%, 18%);
}
.footer .disabled {
  pointer-events: none;
}
.footer .next-step {
  margin-right: 25px;
  border: 2px solid hsl(243deg, 100%, 62%);
  background-color: hsl(243deg, 100%, 62%);
  color: white;
}
.footer input.next-step {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}
.footer .next-step:hover {
  color: hsl(243deg, 100%, 62%);
  background-color: white;
}

@media only screen and (min-width: 768px) {
  main {
    background-color: hsl(0deg, 0%, 100%);
    display: grid;
    grid-template-columns: 30% auto;
    margin: 10% auto;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 10px hsl(229deg, 24%, 87%);
  }
  nav {
    display: block;
    margin: 20px;
  }
  nav #nav {
    position: absolute;
    display: block;
    background-image: url("");
    background-color: transparent;
    width: 20%;
    aspect-ratio: 4/1;
    margin: 4%;
    margin-top: -50%;
  }
  nav #nav .description {
    display: flex;
    padding: 15px 0;
  }
  nav #nav .description button {
    margin: 0;
  }
  nav #nav .page-description {
    display: block;
    color: hsl(0deg, 0%, 100%);
    font-size: 0.9rem;
    padding-left: 10px;
  }
  nav #desktop {
    display: block;
    position: relative;
    width: 130%;
  }
  form {
    margin: auto;
    padding: 25px 0;
    width: 85%;
  }
  section {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-shadow: 0 0 0 hsl(229deg, 24%, 87%);
  }
  #thanks {
    margin: auto;
  }
  .footer {
    position: relative;
    margin: auto;
    width: 90%;
  }
}
@media only screen and (min-width: 1120px) {
  nav #nav {
    margin-top: -560px;
  }
}

/*# sourceMappingURL=style.css.map */
