@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

:root {
  --form-control-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

.hide {
  display: none;
}
.show {
  display: block;
}

body {
  background-color: $magnolia;
}
#desktop {
  display: none;
}
#nav {
  background-image: url("../images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $magnolia;
  width: 100%;
  aspect-ratio: 2/1;

  margin: auto;
  display: flex;
  justify-content: center;
  button {
    border: 2px solid $white;
    background-color: transparent;
    color: $white;
    font-weight: bold;
    font-size: 1rem;
    margin: 40px 7px;
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  button:hover {
    border: 2px solid $light-blue;
  }
  .selected {
    border: 2px solid $light-blue;
    background-color: $light-blue;
    color: $marine-blue;
  }
  .page-description {
    display: none;
  }
}

section {
  z-index: 1;

  width: 75%;
  margin: -20% auto 150px auto;
  box-shadow: 0 0 5px $light-gray;
  border-radius: 15px;

  .header {
    background-color: $white;
    border-radius: 15px 15px 0 0;
    padding: 0 25px;
    h1 {
      color: $marine-blue;
      padding-top: 25px;
    }
    p {
      color: $cool-gray;
      font-weight: 400;
      padding: 15px 0;
    }
  }

  .form {
    background-color: $white;
    border-radius: 0 0 15px 15px;
    padding: 0 25px 25px 25px;
    font-size: 0.8rem;
  }

  .label-pattern {
    border: 1px solid $cool-gray;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    div {
      margin-left: 10px;
      h4 {
        color: $marine-blue;
        font-size: 1rem;
      }
      p {
        color: $cool-gray;
        font-size: 1rem;
        padding: 5px 0;
      }
      h6 {
        font-weight: 400;
        color: $marine-blue;
        font-size: 0.8rem;
      }
    }
  }
  .label-pattern:hover {
    border: 1px solid $marine-blue;
  }
  #info {
    display: grid;
    label {
      color: $marine-blue;
      font-weight: bold;
      padding: 15px 0 5px 0;
    }
    input {
      padding: 10px;
      min-width: 140px;
      border-radius: 5px;
      border: 1px solid $cool-gray;
    }
    input:hover {
      border: 1px solid $marine-blue;
    }
    input:invalid {
      border-color: $strawberry-red;
      background-color: $magnolia;
    }
  }

  #sel-plan {
    input[type="radio"]:checked + label {
      background-color: $magnolia;
      border: 1px solid $marine-blue;
    }
    input[type="radio"] {
      display: none;
    }

    #payment-method {
      display: flex;
      justify-content: center;
      background-color: $magnolia;
      border-radius: 10px;
      margin-top: 25px;
      padding: 20px 0;
      label {
        font-size: 1.2rem;
        color: $cool-gray;
        font-weight: bold;
        padding: 0 25px;
      }
      #month {
        order: 2;
        border-radius: 15px 0 0 15px;
      }
      #year {
        order: 3;
        border-radius: 0 15px 15px 0;
      }
      label:last-child {
        order: 4;
      }
      input[type="radio"]:checked + label {
        color: $marine-blue;
        border: 0;
      }
      input[type="radio"] {
        margin-top: 2px;
        appearance: none;
        background-color: $marine-blue;
        width: 25px;
        aspect-ratio: 1/1;
        display: grid;
        place-content: center;
      }
      input[type="radio"]::before {
        content: "";
        z-index: 1;
        background-color: $white;
        width: 18px;
        aspect-ratio: 1/1;
        margin: 2px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }
      input[type="radio"]:checked::before {
        transform: scale(1);
      }
    }
  }

  .add-ons-content {
    input {
      display: none;
    }
    input[type="checkbox"]:checked + label {
      background-color: $magnolia;
      border: 1px solid $marine-blue;
    }
    .label-pattern {
      justify-content: space-between;

      h6 {
        font-size: 1rem;
        align-self: center;
        padding-left: 15px;
        color: $purplish-blue;
      }
    }
  }

  #form-summary {
    #gray-bg {
      background-color: $magnolia;
      padding: 15px;
      border-radius: 15px;
    }
    background-color: $white;
    // padding: 15px 25px;
    border-radius: 0 0 15px 15px;
    div {
      font-size: 1.1rem;
      font-weight: 400;

      h6 {
        font-size-adjust: 0.8;
        font-weight: 400;
        color: $marine-blue;
      }
    }
    hr {
      color: $light-gray;
      margin: 15px 0;
    }
    #change-plan {
      font-size: 0.8rem;
      padding: 5px;
      color: $cool-gray;
    }
    #change-plan:hover {
      color: $marine-blue;
    }
    .add-ons-summary {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      color: $cool-gray;
    }
    #plan-info {
      color: $marine-blue;
      font-weight: 700;
    }
    #total {
      padding: 15px;
      p {
        font-size: 1.4rem;
        font-weight: 700;
        color: $purplish-blue;
      }
    }
  }
}

.thanks {
  text-align: center;
  padding: 50px 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: $white;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  .button {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
  }
  #go-back {
    margin-left: 25px;
    border: 2px solid $pastel-blue;
    background-color: $white;
    color: $pastel-blue;
  }
  #go-back:hover {
    color: $marine-blue;
    border: 2px solid $marine-blue;
  }
  .disabled {
    pointer-events: none;
  }
  .next-step {
    margin-right: 25px;
    border: 2px solid $purplish-blue;
    background-color: $purplish-blue;
    color: white;
  }
  input.next-step {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
  }
  .next-step:hover {
    color: $purplish-blue;
    background-color: white;
  }
}

@media only screen and (min-width: 768px) {
  main {
    background-color: $white;
    display: grid;
    grid-template-columns: 30% auto;
    margin: 10% auto;
    width: 80%;
    max-width: 900px;

    border-radius: 20px;
    box-shadow: 0 0 10px $light-gray;
  }
  nav {
    display: block;
    margin: 20px;

    #nav {
      position: absolute;
      display: block;

      background-image: url("");

      background-color: transparent;
      width: 20%;
      aspect-ratio: 4/1;
      margin: 4%;
      margin-top: -45%;

      .description {
        display: flex;
        padding: 15px 0;
        button {
          margin: 0;
        }
      }
      .page-description {
        display: block;
        color: $white;

        font-size: 0.9rem;
        padding-left: 10px;
      }
    }
    #desktop {
      display: block;
      position: relative;
      width: 130%;
    }
  }

  form {
    margin: auto;
    padding: 25px 0;
    width: 85%;
  }
  section {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    box-shadow: 0 0 0 $light-gray;
  }

  .footer {
    position: relative;
    margin: auto;
    width: 90%;
  }
}
