@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

$orange: rgb(255, 101, 45);
$orange-bg: rgb(255, 101, 45, 0.25);

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
}

.hide {
  display: none;
}
.show-block {
  display: block;
}
.show-flex {
  display: flex;
}

header {
  display: flex;
  padding: 20px 30px;

  h2 {
    margin: 0 10px 5px 15px;
    font-size: 35px;
  }

  #menu-icon {
    margin: 14px 0 0 0;
  }

  #user-items {
    margin-left: auto;
    #profile {
      margin-top: 5px;
      border-radius: 50%;
    }
    #cart {
      padding: 0 20px 5px 0;
    }
  }

  nav {
    width: 100%;
    display: none;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    #navbar {
      z-index: 2;
      display: flex;
      flex-direction: column;
      margin: -20px -30px;
      padding: 35px 30px;
      background-color: white;
      align-self: stretch;
      #close-nav {
        margin-bottom: 25px;
      }
      a {
        color: black;
        font-size: 1.3rem;
        text-decoration: none;

        padding: 15px 0;
      }
    }
    #gray-filter {
      z-index: 1;
      margin: -20px 0;
      background-color: rgb(90, 90, 90, 0.5);
      flex-grow: 1;
    }
  }
}

#images-carrossel {
  .carousel {
    width: 100%;
    box-shadow: 0 0 10px lightgray;
  }
  #flechas {
    margin: 22px;
    width: 90%;
    display: flex;
    position: absolute;
    aspect-ratio: 1/1;
    justify-content: space-between;
    align-items: center;
    img {
      padding: 5px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

#images-thumbnail {
  display: none;
  justify-content: space-between;
  margin-top: 15px;
  img {
    width: 90px;
    border-radius: 15px;
    box-shadow: 0 0 10px lightgray;
  }
  .thumb-selected {
    border: 3px solid $orange;
    filter: opacity(70%);
  }
}

#product-description {
  margin: 50px;
  h6 {
    font-size: 0.8rem;
    color: $orange;
  }
  h1 {
    font-size: 2rem;
    margin: 25px 0;
  }
  p {
    color: rgb(99, 99, 99);
    line-height: 25px;
  }
  #price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #discount {
      color: $orange;
      background-color: $orange-bg;
      padding: 5px 10px;
      border-radius: 5px;
    }
    #original-price {
      text-decoration: line-through;
      color: rgb(161, 161, 161);
    }
  }
  #add-item {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: -2px 2px 5px lightgray;
    p {
      margin-top: 10px;
      font-weight: bold;
      color: black;
    }
    .change-quantity {
      margin-bottom: 10px;
      border: 0;
      background-color: whitesmoke;
      font-size: 2rem;
      font-weight: bold;
      color: $orange;
    }
  }
  #add-to-cart {
    text-align: center;
    margin-top: 25px;
    padding: 23px 25px;
    width: 100%;
    border: 0;
    background-color: $orange;
    color: white;
    border-radius: 10px;
    box-shadow: -2px 2px 5px lightgray;
    img {
      filter: invert(100%);
      padding-right: 10px;
    }
    font-size: 1.3rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 475px) {
  #images-product {
    width: 475px;
    margin: auto;
    .carousel {
      border-radius: 20px;
    }
    #flechas {
      width: 425px;
    }
  }
  #images-thumbnail {
    width: 100%;
    display: flex;
  }
  #price-section {
    width: 300px;
  }
  #product-description {
    margin: 50px 75px;
  }
}

@media only screen and (min-width: 812px) {
  header {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 180px 400px auto;
    border-bottom: 0.5px solid lightgray;
    #menu-icon {
      display: none;
    }

    nav {
      position: relative;
      display: block;
      #navbar {
        flex-direction: row;
        justify-content: space-around;
        margin: 15px 0 0 0;
        padding: 0;
        a {
          padding: 0;
          font-size: 1.2rem;
        }
      }
      #gray-filter {
        display: none;
      }
    }
    #close-nav {
      display: none;
    }
    a {
      color: black;
      font-size: 1rem;
      text-decoration: none;
      margin: auto 0 0 0;
      padding: 0 10px;
    }

    #user-items {
      margin: 0;
      justify-self: flex-end;
    }
  }

  #product-description {
    #title {
      font-size: 3rem;
    }
    #buttons-buy {
      display: flex;
      #add-item {
        margin: 0 10px 0 0;
        width: 35%;
        height: 50px;
      }
      #add-to-cart {
        width: 65%;
        margin: 0 0 0 10px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: auto auto;

    #images-product {
      margin: 0 50px;
    }

    #product-description {
      margin: 25px 50px 0 0;
      // width: 80%;
    }
  }
}
