@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$white: #ffffffff;
$alice-blue: #edf2f8ff;
$zomp: #5f9e93ff;
$caramel: #c07f3dff;
$paynes-gray: #49556bff;
$shadow: rgb(212, 229, 250);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: $paynes-gray;
}

body {
  background-color: $alice-blue;
}

main {
  width: 750px;
  height: 300px;
  background-color: $white;
  margin: auto;
  margin-top: 50px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 15px $shadow;
}

#furniture {
  width: 125%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

#text {
  padding: 30px;
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  p {
    font-size: 13px;
  }
}

#details {
  display: flex;
  height: 50px;
  margin-top: 20px;
}

#author {
  border-radius: 50%;
  margin-right: 15px;
}

button {
  background-color: $paynes-gray;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 5px auto;
  img {
    filter: invert(100%);
    margin: auto;
  }
}

nav {
  display: none;
}

.menu {
  display: flex;
  margin: 0;
  position: absolute;
  background-color: $paynes-gray;
  padding: 10px 15px;
  border-radius: 15px;
  p {
    color: $white;
    letter-spacing: 4px;
    padding: 5px;
  }
  img {
    filter: invert(100%);
    padding: 0 10px;
  }
  #close {
    padding: 5px 0 5px 100px;
  }
}

@media only screen and (max-width: 800px) {
  main {
    display: block;
    width: 350px;
    height: 550px;
  }
  #furniture {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 10px 10px 0 0;
  }
  #text {
    h2 {
      font-size: 17px;
    }
  }
  .menu {
    display: flex;
    padding: 10px 15px;
    p {
      padding: 5px;
    }
    #close {
      padding: 5px 0 5px 20px;
    }
  }
}
